.recomended-friends {
  padding: 25px 0px;
  border-bottom: var(--grey-line);
  margin-bottom: 25px;
}

.recomended-friends h6 {
  font-size: 17px;
  color: var(--grey-font-6);
}

.recomended-friends span {
  display: block;
  text-align: center;
  margin: 110px 0px;
  font-size: 17px;
  color: var(--grey-font-5);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.open-chat__header h4 {
  color: var(--grey-font-6);
}

.open-chat__header span {
  color: var(--grey-font-5);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  margin-bottom: 7px;
  color: var(--grey-font-6);
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  color: var(--grey-font-6);
}

.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.open-post__memeber-status {
  color: #ff68c4;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 115px;
  height: 115px;
  border-radius: 10%;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
  font-size: 13px;
}

.open-post__heart-count i {
  margin: 3px;
}

@keyframes heart-beat {
  0% {
    transform: none;
  }
  50% {
    transform: scale(3);
    color: #ff6229;
  }
  100% {
    transform: none;
  }
}

.open-post__heart-count:hover i {
  /* will-change 시 애니메이션 성능이 향상될 수 있으나 본 페이지에서는 랜더링 뭉개져 안씀*/
  /* will-change: transform; */
  animation: heart-beat 1s ease-in-out infinite;
}
