/* 부모 div를 양쪽 분리 중앙 정렬 시, 2가지 방법이 있다
첫째, display:flex , align-item:center 후 분리하려는 자식 div 마다 같은 width를 %로 설정해서
      width(%) x 자식 div수 = 100% 가 되게 한다.<ex) div가 3개면 각 div의 width는 33% >
      이후 margin 이나 padding 때문에 칸을 넘어 안보이는 부분이 잘리지 않도록
      box-sizing:border-box 를 설정

둘째, 3개 이하의 div로 분리 시,
      부모 div에 display:flex, (((justify-content:center))<-확인 중) 설정 후
      자식 div:first-child {margin-right:auto;
                            display:flex} - <내용물이 1개 이상이라 flex 필요시>

                        자식 div:nth-child(2) {dispaly:flex
                                               justify-content:center}
                                              {text-align-center}     둘 중 하나 사용
          
      자식 div:last-child {margin-left:auto; 
                           display:flex   - <내용물이 1개 이상이라 flex 필요시>
                          justify-content:flex-end}
      를 사용하여 분리 가능하다

      !! 양옆의 div의 마진들로 인해 중앙 정렬이 안된다면
         중앙의 div에 position:absolute 를 주면 body의 기본 속성이 relative 이므로
         justify-content:center로 인해 body의 중앙에 강제로 위치시킬 수 있다.
*/

.status-bar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0%;
  padding: 5px 15px;
  background-color: white;
  opacity: 0.9;
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 10px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  /* text-align: center;
  도 가능 */
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column:last-child i {
  margin-left: 10px;
}
